#contenedor1{
  background-image: url(../img/taxi.jpg);
  position: relative;
  display: flex;
}
#registro{
  display: flex;
  position: relative;
  margin-left: 80%;
}
#iphone{
  background-color: yellow;
  display: flex;
  align-items:flex-start;
  width: 100%;
  padding: 3%;
}
.app{
  position: relative;
  display: flex;
  margin-left: 150%;
}
#conduce{
  width: 100%;
  background-image: url(../img/conduce.jpg);
}
#tarifas{
  width: 100%;
  background-color: yellow;
}
footer{
  display: flex;
  background-color: black;
}
